@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #256685;
}

.counter {
    padding: 10px 18px;
    background: #6792a7;
    border: 4px solid white;
}

.counter-header {
    font-size: 3rem;
    color: #262626;
    text-align: center;
    margin-bottom: 40px;
}

.counter-number {
    font-size: 5rem;
    color: #212121;
    text-align: center;
}

button {
    padding: 10px 19px;
    border: 4px solid white;
    background: transparent;
    font-family: inherit;
    font-weight: lighter;
    font-size: 1.5rem;
    margin-top: 40px;
}

button:focus {
    outline: 0;
}

button:hover {
    border: 4px solid #a4a4a4;
}

button:active {
    border: 4px solid #6d6d6d;
}

